<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ziwei.intro.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="ziwei.intro.Perspective"
            id="ziwei.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ziwei.application"
            name="ZiWei">
         <property
               name="windowImages"
               value="icons/application/ziwei16.png,icons/application/ziwei32.png,icons/application/ziwei48.png,icons/application/ziwei64.png,icons/application/ziwei128.png">
         </property>
         <property
               name="aboutText"
               value="%product_about">
         </property>
         <property
               name="aboutImage"
               value="icons/application/ziwei-about.png">
         </property>
          <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="0,140,320,15">
         </property>
         <property
               name="startupProgressRect"
               value="0,155,320,10">
         </property>
         <property
               name="appName"
               value="ZiWei">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="icons/application/ziwei16.png"
            id="ziwei.intro">
      </intro>
      <introProductBinding
            introId="ziwei.intro"
            productId="ziwei.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="ziwei.intro"
            content="introContent.xml"
            id="ziwei.config">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="ext.xml"
            configId="ziwei.config">
      </configExtension>
   </extension>

</plugin>
